body {
	margin-top: 50px;
	margin-left: 20px;
}
#header {
	margin-left: 10px;
	color: red;
}

.form_auth{
    max-width: 30%;
    margin: auto;
    padding-top: 150px;
}

.reqs {
	line-height: 35px;
	font-size: 16px;
	text-align: center;
}

.reqs_title {
	text-align: center;
}

.username, .login {
	margin-left: 800px;
}
