body {
	margin-top: 50px;
	margin-left: 20px;
}
#header {
	margin-left: 10px; //set the default indent
}

<<<<<<< HEAD
#l_col, #r_col {
	max-width: 150px;
}

#buttons {
	margin-top: 40px;
=======
#errors {
	font-size: 16px;
	color: red;
>>>>>>> 53bd6640294caef06e9c9af1206c877c559d48f0
}
