{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

    </head>
    <body id="body" class="body-all">
        <div class="container-fluid div-header" id="header-container">
            <h1 class="h1-effects">42 Coffee Cups Test Assignment</h1>
        </div>
        <div class="container-fluid div-navibar" id="navibar-container">
            <a href="{% url 'contacts' %}"><span class="icon-home"></span></a>
            <a href="{% url 'requests' %}"><span class="icon-network"></span></a>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>