{% extends 'base.html' %}
{% load staticfiles %}
{% load admin_link %}
{% block title %}
42 Coffee Cups Test Assignment
{% endblock title %}
{% block content %}
<!-- Start header -->
<div class="row" id="header">
    <div class="col-xs-6">
        <h1>42 Coffee Cups Test Assignment</h1>
    </div>
    <div class="col-xs-6">
        {% if user.is_authenticated %}
        <div class="username">
            <a href="{% url 'users:auth_logout' %}">Logout</a> |
            {% if data %}
            <a href="{% edit_link data %}">Admin</a> |
            {% endif %}
            <a href="{% url 'edit_contacts' %}">Edit contact data</a>
        </div>
        {% else %}
        <div class="login">
        <a href="{% url 'users:auth_login' %}">Login</a> |
        {% if data %}
        <a href="{% edit_link data %}">Admin</a>
        {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<!-- End Header -->
{% if data %}
<div class="col-xs-6" id="l_col_c">
Name: {{ data.name }} <br>
Last name: {{ data.last_name }} <br>
Date of birth: {{ data.birthday|date:"Y-m-d" }} <br>
Photo: <br>
    {% if data.photo %}
        <img class="img" src="{{ data.photo.url }}" style="height: 200px;">
    {% else %}
        <img class="img-responsive" src="{{ STATIC_URL }}img/default_user.jpg" style="height: 200px;">
    {% endif %}
</div>

<div class="col-xs-6" id="r_col_c">
Contacts<br>
Email: {{ data.email }} <br>
Jabber: {{ data.jabber }} <br>
Skype: {{ data.skype }} <br>
Other contacts: {{ data.other_conts|linebreaks }} <br>
Bio: {{ data.bio|linebreaks }} <br>
</div>
{% else %}
<h2>There are no objects in database. Please, fill it and try again<h2>
{% endif %}

<div class="col-xs-12">
	<div class="requests">
		<hr width="75%" />
    	<a href="{% url "requests" %}">Requests</a>
	</div>
</div>

{% endblock %}
