{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/mess.js' %}"></script>
    <link rel="stylesheet" 
        href="{% static 'css/messaging.css' %}" media="screen, projection"/>
{% endblock %}
{% block content %}
<div class="row" id="header">
    <div class="col-xs-6">
        <h1>42 Coffee Cups Test Assignment</h1>
    </div>
</div>
<div class="col-xs-12">
    <div class="contacts">
        <a href="{% url 'contacts' %}">&lt;&lt;Back to personal data</a>
        <hr width="75%" />
    </div>
</div>
<div class="col-md-2">
</div>
<div class="col-md-8">
<div class="messages">
<div class="mess_title" align="center">
    Messages
</div>
<form id="live-search" action="" class="styled" method="post">
<div class="form-group fgroup_u">
    <fieldset>
        <label for="filter">Search dialog with user:</label>
        <input type="text" class="form-control" id="filter" placeholder="username..." />
        <span id="filter-count"></span>
    </fieldset>
</div>
</form>
<hr />
<nav>
    <ul>
    {% for key, value in mess_content.items %}
<a href="{% url 'dialog' %}">
    <div class="mess_username">
        {{ value.uname }}
    </div>
    <div class="mess_content">
        {{ value.content }}
    </div>
</a>
<hr />
{% endfor %}
    </ul>
</nav>
</div>
</div>
{% endblock %}