{% extends 'base.html' %}
{% load staticfiles %}
{% load admin_link %}
{% block title %}
42 Coffee Cups Test Assignment
{% endblock title %}
{% block content %}
<form action="" method="post" class="form_auth">
  {% csrf_token %}
    <div class="form-group">
        <label for="login">Your Username</label>
        <input type="text" class="form-control" id="login" value=""
               name="username" />
        <span class="help-block">{{ form.errors.username.as_text }}</span>
    </div>    
    <div class="form-group">
        <label for="password">Your Password</label>
        <input type="password" class="form-control" id="password" value=""
               name="password1" />
        <span class="help-block">{{ form.errors.password1.as_text }}</span>
    </div>    
    <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input type="password" class="form-control" id="password-confirm" value=""
               name="password2" />
        <span class="help-block">{{ form.errors.password2.as_text }}</span>
    </div>    
    <button type="submit" class="btn btn-primary">Register</button>
    <a id='a_cancel' class="btn btn-default"  href="{% url 'contacts' %}">
        Cancel
    </a>

</form>

{% endblock content %}
