{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}{{ number }} {% endblock title %}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        last_id = {{ last_unread_item }}
    </script>
{% endblock %}
{% block content %}

<!-- Start header -->
<div class="row" id="header">
<div class="col-xs-6"></div>
    <div class="col-xs-6">
        {% if user.is_authenticated %}
        <div class="username">
            {{ user.username }}|
            <a href="{% url "users:auth_logout" %}">Logout</a>
        </div>
        {% else %}
        <div class="login"><a href="{% url 'users:auth_login' %}">Login</a></div>
        {% endif %}
    </div>
</div>
<!-- End Header -->

 <div class="col-xs-12">
    <div class="reqs_title">
        <h2><strong>Requests</strong><br></h2>
    </div>
    {% for request in requests %}
    <div class="request">
        <strong>{{ request.author }}</strong> #{{ request.pk }}: {{ request.date|date:"Y-m-d H:i:s.u" }} {{ request.method }}  
        {{ request.name }} {{ request.status }}
    </div> 
    {% endfor %}
</div>

<div class="col-xs-12">
    <div class="contacts">
        <hr width="75%" />
        <a href="{% url 'contacts' %}">Personal Data</a>
    </div>
</div>

{% endblock content %}
