{% extends 'base.html' %}

{% block title %}
({{ news }}) 42 Coffee Cups Test Assignment
{% endblock title %}

{% block content %}
{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

 <div class="col-xs-12">
    <div class="reqs_title">
        <h2><strong>Requests</strong><br></h2>
    </div>
    {% for request in requests %}
    <div class="reqs">
        <strong>{{ request.author }}</strong> #{{ request.pk }}: {{ request.date|date:"Y-m-d H:i:s.u" }} {{ request.method }} {{ request.path }}
    </div> 
    {% endfor %}
</div>

<div class="col-xs-12">
    <div class="contacts">
        <hr width="75%" />
        <a href="{% url "contacts" %}">Personal Data</a>
    </div>
</div>

{% endblock content %}
