{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ PORTAL_URL }}{% static "css/hello/main.css" %}">
</head>
<body>

<!-- Start header -->
<div class="row" id="header">
	<div class="col-xs-6">
		<h1>42 Coffee Cups Test Assignment</h1>
	</div>
</div>
<!-- End Header -->

{% if data %}
<div class="col-xs-6" id="l_col">
Name: {{ data.name }} <br>
Last name: {{ data.last_name }} <br>
Date of birth: {{ data.bitrhday }} <br>
<br>
Bio: {{ data.bio }} <br>
</div>

<div class="col-xs-6" id="r_col">
Contacts<br>
Email: {{ data.email }} <br>
Jabber: {{ data.jabber }} <br>
Skype: {{ data.skype }} <br>
Other contacts: {{ data.other_conts }} <br>
</div>
{% endif %}

</body>
</html>